*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    max-width: 500px;
     border: solid 2px; 
     margin: auto; 
    padding: 50px 100px;
}

.log_reg{
    text-align: center; 
    margin-bottom: 40px;}
.log_reg1{
        text-align: center;
        color: #46A358; 
        margin-bottom: 40px;
}
.Login{
    margin-bottom: 14px; 
    text-align: center;
}

.register{
    text-align: center;
}

.input{
    margin-bottom: 16px; 
    margin-left: 100px; 
    margin-right: 100px;
}

.input2{
    margin-bottom: 41px; 
    margin-left: 100px; 
    margin-right: 100px;
}

.text{
    width: 300px; 
    height: 40px; 
    padding-left: 14px;
    box-sizing: border-box;
}
.button{
    margin-bottom: 36px; 
    margin-left: 100px; 
    margin-right: 100px; 
    width: 300px; 
    height: 40px;
}
.button2{
    background-color: #46A358;
     padding-top: 16px; 
     padding-left: 118px; 
     padding-bottom: 13px; 
     padding-right: 119px; 
}

.reg{
    width: 300px;	height: 40px; /* Размеры */
    outline: 2px solid #000; /* Чёрная рамка */
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 3px; /* Радиус скругления */
    margin: auto; 
    margin-bottom: 15px;
    text-align: center;
    
}

a{
    text-decoration: none;
    color: #000;
    display: inline-block;
}
header{
    padding-top: 30px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
}
header nav ul {
    display: flex;
    gap: 50px;
}
header .logo{
    margin-bottom: 17px;
}
header nav a{
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
}
header .login{
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 7px 17px;
    background: #46a358;
    border-radius: 6px;
    display: flex;
    align-items: center;
    transition: 0.6s;
    margin-bottom: 18px;
}

header .login:before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/Logout.svg");
    margin-right: 4px;
}

header nav li:after{
    display: block;
    width: 0;
    content: "";
    background-color: #46a358;
    height: 3px;
    margin-top: 25px;
    transition: 0.4s;
}
header nav li:hover:after{
    width: 100%;
}

h2{
    width: 530px;
height: 140px;
--font-family: "Cera Pro", sans-serif;
}

.planet{
    color: #46A358;
    margin-top: 68px;
    margin-bottom: 5px;
    margin-left: 44px;
    margin-right: 951px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 114%;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #3d3d3d;  
}

p{
    --font-family: "Cera Pro", sans-serif;
    width: 557px;
    height: 45px;
}

.box_2{
    max-width: 1200; 
     margin: auto; 
    padding: 50px 100px;
}